In [9]:
import mysql.connector

mydb = mysql.connector.connect(host='localhost', database='banco', user='root', password='MHnc@46501741')

In [5]:
if mydb.is_connected():
    mycursor = mydb.cursor()
    mycursor.execute('Show tables;')
    mytables = mycursor.fetchall()
    for i in mytables:
        print(i)

('categorias',)
('clientes',)
('locais',)
('lojas',)
('pedidos',)
('produtos',)

In [11]:
if mydb.is_connected():
    mycursor = mydb.cursor()     
    mycursor.execute("SELECT categorias FROM information_data.tables;")     
    myresult = mycursor.fetchall() 
    for x in myresult: 
        print(x)

ProgrammingError: 1049 (42000): Unknown database 'information_data'